body {
    background-color: #fff;
    max-width: 900px;
    margin: auto;
    color: #000;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 5px;
    color: #4475a0;
}

h3 {
    margin-top: 10px;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, ul {
    margin: 0;
    padding: 0 0 0 20px;
}

section {
    border-top: 1px solid black;
    margin-top: 15px;
    margin-bottom: 25px;
}

li {list-style-type:circle;}
img {border:none;}